.contentContainer {
    height: auto;
}

.contentContainer header {
    position: absolute;
    width: 95vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.contentContainer header button {
    height: 42px;
    width: 126px;
    border-radius: 5px;
    border: 1px solid #000;
    background-color: #FF3131;
    font-size: 24px;
    color: #fff;
    cursor: pointer;
}

.contentHome {
    height: 80vh;
    background: url(../../img/backgroundContent.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    flex-direction: row;
}

.contentHome .textArea {
    margin-left: 100px;
    margin-top: -100px;
}

.textArea h1 {
    color: #FFF;
    font-size: 64px;
    width: 400px;
}

.textArea p {
    color: #fff;
    font-size: 32px;
    width: 400px;
}

.textArea button {
    padding: 12px 22px;
    background-color: #FF3131;
    color: #fff;
    font-size: 24px;
    border-radius: 10px;
    outline: 0;
    border: 1px solid #000;
    cursor: pointer;
}

.videoContent {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: -120px 0 0 0;
}

.videoCards {
    width: 365px;
    height: 329px;
    margin: 0 auto 34px auto;
    border-radius: 20px;
    background-color: rgba(0, 0, 0, 0.3);
}

.videoCards .thumb {
    height: 212px;
    background-color: #FF3131;
    border-radius: 20px 20px 0 0;
}

.videoCards p {
    font-size: 30px;
    color: #fff;
    text-align: center;
    line-height: 0;
}

.videoCards button {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    background-color: #FF3131;
    border-radius: 5px;
    border: 1px solid #000;
    color: #fff;
    width: 132px;    
    height: 35px;
    font-size: 24px;
    cursor: pointer;
}


.link {
    text-decoration: none;
}

.vid1 {
    background: url(../../img/bg1.jpg);
    background-size: cover;
}

.vid2 {
    background: url(../../img/bg2.jpg);
    background-size: cover;
}

.vid3 {
    background: url(../../img/bg3.jpg);
    background-size: cover;
}

.vid4 {
    background: url(../../img/bg4.jpg);
    background-size: cover;
}

.vid5 {
    background: url(../../img/bg5.jpg);
    background-size: cover;
}

.vid6 {
    background: url(../../img/bg6.jpg);
    background-size: cover;
}